<div class="container">
  <div class="user-details">
    <h3> Experience </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="query" src="{{ "/assets/img/query.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Query </h5>
      <li>Positon: Developer/Consultant </li>
      <p>What if sharing specific pieces of information about and with people was easier? Query.me is an approach to this solution. The Co-founders, Joseph, Mike, and Gentian, were generious enough to hire me as a consultant for this company, and  I have been able to learn so much, from react-native development and the intracacies of xcode to the basics of developing as a team. So far most of my work has been provided towards the webpage itself, which is primarily built on react.</p>
      <a class="project-link" href="https://query.me/">Link</a>
    </div>
  </div>
   <div class="row user-projects">
    <div class="six columns images">
      <img alt="General Assembly" src="{{ "/assets/img/general.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> General Assembly </h5>
      <li>Positon: Web Development Immersive Student </li>
      <p>After spending much of my career being self-taught, I finally decided upon learning via perfessional educational service. I wanted to be able to learn computer science concepts as well as reaffirm my current abilities in a classroom setting. The Web Development Immersive Program is a 12 week bootcamp centered around learning Full Stack web development including: javascript, html, css, angularjs, reactjs, ruby along with backend technologies such as Nodejs, Mongodb. This also gave me access to practice real world group projects, pair programming, hackathons, and meetup events so I could better utilize my employment options.</p>
      <a class="project-link" href="https://generalassemb.ly/education/web-development-immersive">Link</a>
    </div>
  </div>
</div>
