<div class="container">
  <div class="user-details">
    <h3> Experience </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="goslock" src="{{ "/assets/img/goslack.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Query </h5>
      <li>Positon: Developer/Consultant </li>
      <p></p>
      <a href="https://github.com/vogtn/StockApp"><i class="icon fa fa-github fa-3x"></i></a>
      <a class="project-link" href="query.me">Link</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="safetypin" src="{{ "/assets/img/safety.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Safety Pin </h5>
      <ul>
        <li>featured tech: react, react-router, oauth(passport), nodejs</li>
      </ul>
      <p>Safety is a simple concept that every individual should be able to enjoy. Safety Pin queries the Seattle police department for recent crime data, and then places "pins" on a googlemap representing the location of the respective crimes. The location is also centralized based on the user's location.  </p>
      <a href="https://github.com/vogtn/SafetyPin"><i class="icon fa fa-github fa-3x"></i></a>
      <a class="project-link" href="https://safepin.herokuapp.com/">demo</a>
    </div>
  </div>
</div>
