<div class="container">
  <div class="user-details">
    <h3> Featured Projects </h3>
  </div>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="goslock" src="{{ "/assets/img/goslack.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> GoSlock - The Slack + Stock Bot </h5>
      <li>featured tech: golang, websockets, psql, javascript, d3 </li>
      <p>This app utilizes a golang chat bot, which connects with slack via websocket connections. The slack channel which goslock is connected to can query for stock quotes, or "purchase" them. In reality, the bot communicates to a SQL database and posts stock info from the depreciated google finance api creating a portfolio for the channel. The front end then displays this portfolio in a simple d3 chart.</p>
      <a href="https://github.com/vogtn/StockApp"><i class="icon fa fa-github fa-3x"></i></a>
      <a class="project-link" href="https://gostock.herokuapp.com/">demo</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="{{ "/assets/img/safety.png" | prepend: site.baseurl }}" />
    </div>
    <div class="six columns">
      <h5> Safety Pin </h5>
      <ul>
        <li>featured tech: react, react-router, oauth(passport), nodejs</li>
      </ul>
      <p>Safety is a simple concept that every individual should be able to enjoy. Safety Pin queries the Seattle police department for recent crime data, and then places "pins" on a googlemap representing the location of the respective crimes. The location is also centralized based on the user's location.  </p>
      <a href="https://github.com/vogtn/SafetyPin"><i class="icon fa fa-github fa-3x"></i></a>
      <a class="project-link" href="https://safepin.herokuapp.com/">demo</a>
    </div>
  </div>
</div>
